<<<<<<< HEAD
<div class="jumbotron" style="text-align:center">
  <h3>Thank you for registering with us <b><span style="color:green">{{name}}</span></b></h3>
  <a href='/'>Click here to login</a>
</div>
=======
<style>

  body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 100vh;
    margin: 0;
    padding: 0;

  }

  .header {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 4em;
    margin-left: 30%;
    color: grey;
    font-family: "Comic Sans MS", "Comic Sans";
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;

  }

</style>
<body>
<div class="header" style="text-align:center">
  <h3 style="color:green">Thank you for registering with us </h3>
  <br>
  <a href='/'>Click here to login</a>
</div>
</body>
>>>>>>> origin/master
